<h1>Listing All Questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.title%></td>
    <td><%= question.content%></td>
  </tr>
<% end %>
</table>
