<h1>Listing One Question and Associated Answers</h1>

<table style="width:90%">
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>
		<% @answers.each do |answer| %>
	<tr>
		<td><%= answer.title%></td>
		<td><%= answer.content%></td>
	</tr>
	<% end %>
</table>